/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------------------------------*/

  


body{
	display: grid;
	justify-items: center;
	
	grid-template-columns: 1fr;
	font-family: VT323;

	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(224, 173, 181, 0.574);

}

#content {
	background-color: rgba(255, 255, 255, 0.664);
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	justify-items: center;
	gap: 20px;
	padding: 10px;
	border-radius: 15px;
	
}


#content > h1 {
	font-size: 30px;
	color: pink;
	text-shadow: 1px 1px black;
	
}

.homeContent {
	height: 250px;
	font-size: 18px;
	width: 100%;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 0.4fr;
	gap: 20px;
	
}

.reviewsContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr;
	gap: 20px;
}

.openHours{
	
	width: 43vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 0.1fr 0.1fr;
	text-align: center;
}

.openHours > p {
	font-size: 14px;
	font-style: italic;
	text-shadow: 0.5px 0.5px black;
	animation: timer 1s linear infinite ;
}

@keyframes timer{
	0%{color: white;}
	100%{color: black;}
}

.openHours > h1{
	font-size: 22px;
}

.customerReviews > p {
	width: 40vh;
}
nav{
	
	display: grid;
	grid-template-columns:  2fr 2fr 2fr;
	gap: 20px;
	justify-content: center;
	height: 50px;
	padding: 15px;
}

.homeNav, .menuNav, .contactNav{
	text-align: center;
	font-size: 32px;
	width: 100px;
	cursor: pointer;
}

.homeNav:hover, .menuNav:hover, .contactNav:hover {
	font-size: 28px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px black;
}
.menuContainer {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	
}
.beverages, .sides, .mainDishes {
	font-family: VT323;
    font-size: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.2fr;
	padding: 10px;
	margin: 5px;
	
	
	
	
}
.beverages > h1, .sides > h1, .mainDishes > h1 {
	font-size: 22px;
	grid-column: 1 / span 2;

}
.beverages > div, .sides > div, .mainDishes > div {
	display: grid;
	grid-template-columns: 1fr;
	
    font-size: 15px;
}

.beverages > div > img, .mainDishes > div > img, .sides > div > img {
    width: 30px;
    border: 1px black solid;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	justify-items: center;
	object-fit: contain;
}

.contactContainer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	justify-content: center;
}

.mrmonkey, .elpenguino, .mskitty{
	display: grid;
	justify-items: center;
}

.mrmonkey > img, .elpenguino > img, .mskitty > img {
    width: 5vh;
    border: 1px black solid;
	border-radius: 1px;
	display: flex;
	justify-content: center;
	justify-items: center;
	object-fit: contain;
}

.mrmonkey > h1, .elpenguino > h1, .mskitty > h1 {
	font-size: 22px;
	text-shadow: black 1px 1px; 
	color: pink;
}

.imgContainer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1000;
	position: absolute;
	max-height: fit-content;
	background-repeat: repeat;
	background-size: 30%;
	background-position: 0 0;
	

	opacity: 10%;
	height: 100%;
	animation: slide 6s linear infinite ;
	
	
}

.pixelCafe {

	
}

@keyframes slide {
	99.9%{background-position:  100%, 100%;}
	0%, 100%{background-position: 600px 335px; opacity: 1%;}
	50%{opacity: 12%;}

	
}