/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------------------------------*/

  


body{
	display: grid;
	justify-items: center;
	
	grid-template-columns: 1fr;
	font-family: VT323;


}

#content {


	width: 90%;
}

.homeContent {

	display: grid;
	grid-template-columns: 1fr 0.2fr;
}
.homeContent > h1 {
	font-size: 24px;
	color: pink;
	text-shadow: 1px 1px black;
}

.reviewsContainer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}
nav{
	font-size: 20px;
	display: grid;
	grid-template-columns:  50px 50px 50px;
	gap: 20px;
	justify-content: center;
	height: 50px;
	padding: 15px;
}

.homeNav:hover, .menuNav:hover, .contactNav:hover {
	font-size: 24px;
	color: white;
}

.beverages, .sides, .mainDishes {
	font-family: VT323;
    font-size: 24px;
}

.beverages > div, .sides > div, .mainDishes > div {
    font-size: 12px;
}

.beverages > div > img, .mainDishes > div > img, .sides > div > img {
    width: 30px;
    border-radius: 100%;
}

.mrmonkey > img, .elpenguino > img, .mskitty > img {
    width: 50px;
    border-radius: 100%;
}

.imgContainer {
	top: 0;
	left: 0;
	z-index: -100;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(224, 173, 181, 0.633);
	
}

.pixelCafe {

	opacity: 10%;
	height: 5000px;
	width: 9000px;
	animation: slide 7s linear infinite;
	animation-fill-mode: forwards;
}

@keyframes slide {

	0%{
		transform: translate(0%, 0%);
		
	}
	100%{
		transform: translate(-600px, -335px);

	}

	
}